<h1>Dear <%= @user.full_name %>, </h1>
  <p>
   We are writing to you to inform you that your account has been deleted by an administrator.
  </p>
  <p>
    To sign up at Rotten Mangoes again, please visit: <%= link_to 'Sign up', 'http://rottenmangoes.com'  %>
  </p>
  <p>Thank you for your time, and have a great day!</p>
 
