<h1>Rotten Mangoes Admin Page</h1>

<%= paginate @users %>

<%= link_to "Back to movies!", movies_path %>
<hr>
<% @users.each do |user| %>
  <h2><%= user.full_name %></h2>
  <h3><%= user.email %></h3>
<hr>
<% end %>